@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    margin: 0 12.8rem;
}
.regular16 {
    font-size: 1.6rem;
    line-height: 130%;
}
a {
    text-decoration: none;
    display: inline-block;
    height: fit-content;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
    font-family: "Heebo", sans-serif;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr;
    padding: 2.4rem 0;
    align-items: center;
    justify-items: space-between;
  }
  .nav-items {
    color: #0a0807;
  }
  .logo {
    width: 12.8rem;
    height: 4rem;
    background-color: #d5311d;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-end;
    align-items: center;
  }
  /* .logout {
    background-color:#5e3d2e;
    font-family: Archivo, sans-serif;
    font-weight: 700;
    padding: 0.8rem 2.4rem;
    border-radius: 4rem;
    color: #fdfcfc;
  } */

  /* button:hover {
    background-color: #a62717;
  } */
  .nav-items:hover {
    color: #d5311d;
  }
  /* .nav-list a .logout:hover {
    color: var(white) !important;
  } */